/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.block {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.block.layout {
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex.layout3 {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 245px;
}

.block5 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}

.block5.layout {
  position: relative;
}

.flex.layout {
  position: relative;
  flex-grow: 1;
  width: 34.72%;
  margin: 250px auto 40px;
}
@media (max-width: 575px) {
  .flex.layout {
    width: 41.51%;
  }
}
@media (max-width: 479px) {
  .flex.layout {
    width: 48.61%;
  }
}
@media (max-width: 383px) {
  .flex.layout {
    width: 55.76%;
  }
}

.hero-title1-box {
  display: flex;
  justify-content: center;
}
@media (max-width: 1199px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 383px) {
  .hero-title1-box {
    align-items: flex-start;
    justify-content: center;
  }
}

.hero-title1-box.layout {
  position: relative;
}

.hero-title1 {
  font: 700 64px/1.2 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2470588235);
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .hero-title1 {
    font-size: 56px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .hero-title1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .hero-title1 {
    font-size: 41px;
  }
}
@media (max-width: 575px) {
  .hero-title1 {
    font-size: 37px;
  }
}
@media (max-width: 479px) {
  .hero-title1 {
    font-size: 34px;
  }
}
@media (max-width: 383px) {
  .hero-title1 {
    font-size: 31px;
  }
}

.hero-title1-span0 {
  font: 700 1em/1.2 "SF Pro Display", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px;
}

.hero-title1-span1 {
  font: 700 1em/1.2 "SF Pro Display", Helvetica, Arial, serif;
  color: #d2ffcaff;
  letter-spacing: 0px;
}

.big-title1 {
  display: flex;
  justify-content: center;
  font: 400 30px/1.29 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  opacity: 0.8;
}
@media (max-width: 1199px) {
  .big-title1 {
    font-size: 27px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .big-title1 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .big-title1 {
    font-size: 21px;
  }
}
@media (max-width: 575px) {
  .big-title1 {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .big-title1 {
    font-size: 18px;
  }
}
@media (max-width: 383px) {
  .big-title1 {
    font-size: 17px;
  }
}

.big-title1.layout {
  position: relative;
}

.flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.block7 {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.643);
  border: 1px solid rgba(255, 255, 255, 0.803);
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
}

.block7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}

.highlights3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 18px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .highlights3 {
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .highlights3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .highlights3 {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .highlights3 {
    font-size: 14px;
  }
}

.highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 11px 33.5px;
}

.block6 {
  display: flex;
  flex-direction: column;
}

.block6.layout {
  position: relative;
  height: 50px;
  width: 72%;
  margin: 55px auto 0px;
}
@media (max-width: 479px) {
  .block6.layout {
    width: 77.42%;
  }
}
@media (max-width: 383px) {
  .block6.layout {
    width: 82.05%;
  }
}

.icon1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon1.layout {
  position: absolute;
  top: -5px;
  height: 60px;
  left: 0px;
  width: 60px;
}

.icon1.layout1 {
  position: absolute;
  top: -5px;
  height: 60px;
  left: 100px;
  width: 60px;
}

.icon1.layout2 {
  position: absolute;
  top: -5px;
  height: 60px;
  width: 60px;
  right: 100px;
}

.icon1.layout3 {
  position: absolute;
  top: -5px;
  height: 60px;
  width: 60px;
  right: 0px;
}

.flex1 {
  display: flex;
}

.flex1.layout {
  position: absolute;
  top: 50px;
  height: 40px;
  width: 680px;
  right: 380px;
}

.flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 40px;
}

.icon3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top;
}

.icon3.layout {
  position: relative;
  height: 40px;
  width: 40px;
  min-width: 40px;
}

.flex-spacer {
  flex: 0 1 41.5px;
}

.subtitle1 {
  display: flex;
  justify-content: center;
  font: 700 20px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .subtitle1 {
    font-size: 19px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .subtitle1 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .subtitle1 {
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .subtitle1 {
    font-size: 16px;
  }
}

.subtitle1.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 10px 0px;
}

.flex-spacer1 {
  flex: 0 1 30.5px;
}

.flex-spacer2 {
  flex: 0 1 45px;
}

.flex-spacer3 {
  flex: 0 1 48px;
}

.subtitle11 {
  display: flex;
  justify-content: center;
  font: 700 20px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1919px) {
  .subtitle11 {
    justify-content: flex-start;
    text-align: left;
  }
}
@media (max-width: 1199px) {
  .subtitle11 {
    font-size: 19px;
  }
}
@media (max-width: 991px) {
  .subtitle11 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .subtitle11 {
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .subtitle11 {
    font-size: 16px;
  }
}

.subtitle11.layout {
  position: relative;
  flex: 0 0 auto;
  margin: 10px 0px;
}

.flex-spacer4 {
  flex: 0 1 61px;
}

.flex-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 160px;
}

.block9 {
  display: flex;
  flex-direction: column;
  background-color: #b7eaaf;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
}

.block9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 20px/1 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 19px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .subtitle {
    font-size: 16px;
  }
}

.subtitle.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 19.5px;
}

.flex.layout2 {
  position: relative;
  width: 91.67%;
  margin: 40px auto 0px;
}
@media (max-width: 1399px) {
  .flex.layout2 {
    width: 93.62%;
  }
}
@media (max-width: 1199px) {
  .flex.layout2 {
    width: 95.14%;
  }
}
@media (max-width: 991px) {
  .flex.layout2 {
    width: 96.31%;
  }
}
@media (max-width: 767px) {
  .flex.layout2 {
    width: 97.2%;
  }
}
@media (max-width: 575px) {
  .flex.layout2 {
    width: 97.89%;
  }
}
@media (max-width: 479px) {
  .flex.layout2 {
    width: 98.41%;
  }
}
@media (max-width: 383px) {
  .flex.layout2 {
    width: 98.8%;
  }
}

.flex-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.block4 {
  display: flex;
  flex-direction: column;
  background-color: #375739;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 30px 30px 30px 30px;
  cursor: pointer;
}

.block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}

.medium-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 24px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: -0.2px;
}
@media (max-width: 1199px) {
  .medium-title {
    font-size: 22px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .medium-title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .medium-title {
    font-size: 19px;
  }
}
@media (max-width: 575px) {
  .medium-title {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .medium-title {
    font-size: 17px;
  }
}
@media (max-width: 383px) {
  .medium-title {
    font-size: 16px;
  }
}

.medium-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 18px 50px;
}

.highlights2 {
  display: flex;
  justify-content: center;
  font: 700 18px/1 "Roboto", Helvetica, Arial, serif;
  color: #b7e9af;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .highlights2 {
    font-size: 17px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .highlights2 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .highlights2 {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .highlights2 {
    font-size: 14px;
  }
}

.highlights2.layout {
  position: relative;
  width: 13.11%;
  margin: 24px auto 0px;
}

.highlights1 {
  display: flex;
  justify-content: center;
  font: 400 16px/1 "Roboto", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .highlights1 {
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .highlights1 {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .highlights1 {
    font-size: 13px;
  }
}
@media (max-width: 479px) {
  .highlights1 {
    font-size: 12px;
  }
}

.highlights1.layout {
  position: relative;
  width: 29.39%;
  margin: 40px auto 0px;
}
@media (max-width: 479px) {
  .highlights1.layout {
    width: 35.68%;
  }
}
@media (max-width: 383px) {
  .highlights1.layout {
    width: 42.5%;
  }
}

.hero-title {
  display: flex;
  justify-content: center;
  font: 700 60px/1 "Roboto", Helvetica, Arial, serif;
  color: #355342;
  text-align: center;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .hero-title {
    font-size: 53px;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .hero-title {
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  .hero-title {
    font-size: 39px;
  }
}
@media (max-width: 575px) {
  .hero-title {
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  .hero-title {
    font-size: 33px;
  }
}
@media (max-width: 383px) {
  .hero-title {
    font-size: 31px;
  }
}

.hero-title.layout {
  position: relative;
  margin: 100px 0px 0px;
}

.block1 {
  display: flex;
}
@media (max-width: 1199px) {
  .block1 {
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 16px;
  }
}

.block1.layout {
  position: relative;
  margin: 40px 0px 0px;
}

.block1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 300px;
}
@media (max-width: 1199px) {
  .block1-item {
    flex: 0 0 calc(50% - 8px);
  }
}
@media (max-width: 767px) {
  .block1-item {
    flex: 0 0 100%;
  }
}

.block2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px 20px 20px 20px;
}

.block2.layout {
  position: relative;
  flex-grow: 1;
}

.flex1.layout1 {
  position: relative;
  flex-grow: 1;
  margin: 24px;
}
@media (max-width: 1199px) {
  .flex1.layout1 {
    margin: 24px 21px;
  }
}
@media (max-width: 991px) {
  .flex1.layout1 {
    margin: 24px 18px;
  }
}
@media (max-width: 767px) {
  .flex1.layout1 {
    margin: 24px 15px;
  }
}
@media (max-width: 575px) {
  .flex1.layout1 {
    margin: 24px 14px;
  }
}
@media (max-width: 479px) {
  .flex1.layout1 {
    margin: 24px 12px;
  }
}
@media (max-width: 383px) {
  .flex1.layout1 {
    margin: 24px 11px;
  }
}

.flex-item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 106px;
}

.flex.layout1 {
  position: relative;
  flex-grow: 1;
}

.big-title {
  font: 700 30px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .big-title {
    font-size: 27px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .big-title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .big-title {
    font-size: 21px;
  }
}
@media (max-width: 575px) {
  .big-title {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .big-title {
    font-size: 18px;
  }
}
@media (max-width: 383px) {
  .big-title {
    font-size: 17px;
  }
}

.big-title.layout {
  position: relative;
}

.highlights {
  font: 700 18px/1 "Roboto", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .highlights {
    font-size: 17px;
    text-align: left;
  }
}
@media (max-width: 991px) {
  .highlights {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .highlights {
    font-size: 15px;
  }
}
@media (max-width: 479px) {
  .highlights {
    font-size: 14px;
  }
}

.highlights.layout {
  position: relative;
  margin: 129px 8px 0px 0px;
}
@media (max-width: 1199px) {
  .highlights.layout {
    margin: 129px 7px 0px 0px;
  }
}
@media (max-width: 991px) {
  .highlights.layout {
    margin: 129px 6px 0px 0px;
  }
}
@media (max-width: 767px) {
  .highlights.layout {
    margin: 129px 5px 0px 0px;
  }
}

.flex-spacer5 {
  flex: 0 1 116px;
}

.flex-item5 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}

.block3 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
}

.block3.layout {
  position: relative;
  height: 30px;
  margin: 147px 0px 0px;
}

.block1-spacer {
  flex: 0 1 40px;
}
@media (max-width: 1199px) {
  .block1-spacer {
    display: flex;
    flex: 0 0 16px;
  }
}
@media (max-width: 767px) {
  .block1-spacer {
    display: none;
  }
}

.flex-item6 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 143px;
}

.highlights.layout1 {
  position: relative;
  margin: 129px 0px 0px;
}

.flex-spacer6 {
  flex: 0 1 79px;
}

.flex-item7 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}

.block1-spacer1 {
  flex: 0 1 40px;
}
@media (max-width: 1199px) {
  .block1-spacer1 {
    display: none;
  }
}

.flex-item8 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 99px;
}

.highlights.layout2 {
  position: relative;
  margin: 129px 29px 0px 0px;
}
@media (max-width: 1199px) {
  .highlights.layout2 {
    margin: 129px 25px 0px 0px;
  }
}
@media (max-width: 991px) {
  .highlights.layout2 {
    margin: 129px 22px 0px 0px;
  }
}
@media (max-width: 767px) {
  .highlights.layout2 {
    margin: 129px 18px 0px 0px;
  }
}
@media (max-width: 575px) {
  .highlights.layout2 {
    margin: 129px 17px 0px 0px;
  }
}
@media (max-width: 479px) {
  .highlights.layout2 {
    margin: 129px 15px 0px 0px;
  }
}
@media (max-width: 383px) {
  .highlights.layout2 {
    margin: 129px 14px 0px 0px;
  }
}

.flex-spacer7 {
  flex: 0 1 123px;
}

.flex-item9 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}

.flex-item10 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 80px;
}

.big-title.layout1 {
  position: relative;
  margin: 0px 10px 0px 0px;
}
@media (max-width: 1199px) {
  .big-title.layout1 {
    margin: 0px 9px 0px 0px;
  }
}
@media (max-width: 991px) {
  .big-title.layout1 {
    margin: 0px 7px 0px 0px;
  }
}
@media (max-width: 767px) {
  .big-title.layout1 {
    margin: 0px 6px 0px 0px;
  }
}
@media (max-width: 479px) {
  .big-title.layout1 {
    margin: 0px 5px 0px 0px;
  }
}

.flex-spacer8 {
  flex: 0 1 142px;
}

.flex-item11 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 30px;
}